#
# s3c6410.etb 0x2b900f0f mfg:0x787 part 0xb900 ver0x2
# s3c6410.cpu 0x07b76f0f mfg:0x787 part ox7b76 ver0x2
#
telnet_port 4444
gdb_port 3333
tcl_port 6666


# interface/luminary-icdi.cfg
#
# Luminary Micro Stellaris LM3S9B9x Evaluation Kits
# In-Circuit Debug Interface (ICDI) Board
#
# This is a discrete FT2232 based debug board which supports ARM's
# JTAG/SWD connectors in both backwards-compatible 20-pin format and
# in the new-style compact 10-pin.  There's also an 8-pin connector
# with serial port support.  It's included with LM3S9B9x eval boards.
#
# http://www.luminarymicro.com/products/ek-lm3s9b90.html
# http://www.luminarymicro.com/products/ek-lm3s9b92.html
#

interface ft2232
ft2232_device_desc "Luminary Micro ICDI Board"
ft2232_layout luminary_icdi
ft2232_vid_pid 0x0403 0xbcda


# target/stm32.cfg
# script for stm32

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME stm32
}

if { [info exists ENDIAN] } {
   set  _ENDIAN $ENDIAN
} else {
   set  _ENDIAN little
}

# Work-area is a space in RAM used for flash programming
# By default use 16kB
if { [info exists WORKAREASIZE] } {
   set  _WORKAREASIZE $WORKAREASIZE
} else {
# Brian
#   set  _WORKAREASIZE 0x4000
# STM32F103VE has 64KB SRAM
   set  _WORKAREASIZE 0x10000
}

# JTAG speed should be <= F_CPU/6. F_CPU after reset is 8MHz, so use F_JTAG = 1MHz
jtag_khz 500

jtag_nsrst_delay 100
jtag_ntrst_delay 100

#jtag scan chain
if { [info exists CPUTAPID ] } {
   set _CPUTAPID $CPUTAPID
} else {
  # See STM Document RM0008
  # Section 26.6.3
   set _CPUTAPID 0x3ba00477
}
jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

if { [info exists BSTAPID ] } {
   # FIXME this never gets used to override defaults...
   set _BSTAPID $BSTAPID
} else {
  # See STM Document RM0008
  # Section 29.6.2
  # Low density devices, Rev A
  set _BSTAPID1 0x06412041
  # Medium density devices, Rev A
  set _BSTAPID2 0x06410041
  # Medium density devices, Rev B and Rev Z
  set _BSTAPID3 0x16410041
  # High density devices, Rev A
  set _BSTAPID4 0x06414041
  # Connectivity line devices, Rev A and Rev Z
  set _BSTAPID5 0x06418041
}
# Brian
# STM32F103VE is in high density performance line family
#jtag newtap $_CHIPNAME bs -irlen 5 -expected-id $_BSTAPID1 \
#	-expected-id $_BSTAPID2 -expected-id $_BSTAPID3 \
#	-expected-id $_BSTAPID4 -expected-id $_BSTAPID5
jtag newtap $_CHIPNAME bs -irlen 5 -expected-id $_BSTAPID4

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m3 -endian $_ENDIAN -chain-position $_TARGETNAME

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME stm32x 0 0 0 0 $_TARGETNAME

# Run the flashing script on reset event
$_TARGETNAME configure -event reset-init {
	wait_halt
	flash probe 0
	flash erase_sector 0 0 last
	flash write_bank 0 exe/SerialPrint.bin 0x0
	resume
}

init
reset init
sleep 10
shutdown

# For more information about the configuration files, take a look at:
# openocd.texi
