# script for stm32
set  _CHIPNAME stm32
set  _ENDIAN little
# STM32F103VE has 64KB SRAM
set  _WORKAREASIZE 0x10000

jtag_khz 500
jtag_nsrst_delay 100
jtag_ntrst_delay 100

# See STM Document RM0008 Section 26.6.3
set _CPUTAPID 0x3ba00477
jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

# High density devices, Rev A
 set _BSTAPID4 0x06414041
jtag newtap $_CHIPNAME bs -irlen 5 -expected-id $_BSTAPID4

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m3 -endian $_ENDIAN -chain-position $_TARGETNAME

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME stm32x 0 0 0 0 $_TARGETNAME

# Run the flashing script on reset event
$_TARGETNAME configure -event reset-init {
	wait_halt
	flash probe 0
	flash erase_sector 0 0 last
	flash write_bank 0 exe/flash.bin 0x0
	resume
}

init
reset init
sleep 10
shutdown

# End of File #
